@model FooterModel
@inject IWorkContext workContext
<footer class="bg-dark mt-3">    
    <div class="container max-100 py-3">        
        <div class="footer-lower small row mt-3">
            <div class="col-12 col-md pb-1 pt-1 flex-column text-lg-left text-center">
                <span class="footer-disclaimer text-white">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>               
            </div>
            <div class="col-12 col-md-4  pb-1 pt-1 text-center text-lg-right">
                <a class="pr-1 text-success" href="/">Woody Artwork</a>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "footer" })
</footer>
<a href="#" id="back-to-top" title="Back to top">
    <span class="fa fa-angle-up"></span>
    <span class="sr-only">back to top</span>
</a>
