<header>
    <div class="container">
        <div class="headBottom d-flex align-items-center d-lg-inline-flex text-lg-left text-center mt-0 mb-0">
            <div class="header-logo pr-0 pl-0 d-lg-block d-none">
                <span class="logo-desktop-holder"></span>
                @await Component.InvokeAsync("Logo")
            </div>
            <nav class="navbar navbar-expand-md mainNav d-none d-lg-flex w-100 mb-1 px-3">
                <div class="collapse navbar-collapse container" id="collapsing-navbar-2">
                    <div class="d-none" id="menu_standing"></div>
                    <ul class="nav navbar-nav">
                        @await Component.InvokeAsync("TopMenu")
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</header>
